@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
}
.backgroun-imgs-size {
  background-size: 58%;
}
.backgroun-imgs-size2 {
  background-size: 41%;
}
.changbg {
}
@media all and (max-width: 768px) {
  .changbg {
    background-size: contain !important;
  }
  .backgroun-imgs-size2 {
    background-size: 58%;
  }
}
